@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;600;700&family=Noto+Sans:ital,wght@0,100;1,100&display=swap');

* {
    /*limpia margenes bg-info*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    background:url("../assets/971.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(22, 1, 43, 0.281);
}
.card{
    background-color: rgb(179, 255, 0);
}



